body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* overflow-x: hidden; */
}
nav{
     background-color: aliceblue;
    width: 100%;
    height: 90px;
     display: flex;
    align-items: center;
    justify-content: space-around;
     position: fixed;
     z-index: 9999999999999999999999;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.no9ta{
    color: red;
}
.nav_links {
    display: flex;
    flex-direction: row;
    gap: 19px;
}
.nav_links a {
    text-decoration: none;
    font-size: 18px;
   color: rgb(94, 93, 93);
;
}
.nav_botton button {
    border: 0;
    outline: none;
    background-color: rgb(207, 19, 19);
    color: white;
    padding: 13px;
    padding-inline: 20px;
    border-radius: 30px;
    font-size: 16px;
}
/* sec_1 */
/* //////////////////////////////////////////////// */
.sec_1{
    padding: 40px;
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.left{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100%;
}
.left h1{
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    font-family: 'Amatic SC', cursive;
}
.left p {
    font-size: 22px;
    color: rgb(94, 93, 93);
}
.sec_1_link_and_button{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}
.sec_1_link_and_button button{
       border: 0;
    outline: none;
    background-color: rgb(207, 19, 19);
    color: white;
    padding: 13px;
    padding-inline: 30px;
    border-radius: 30px;
    font-size: 16px;
}
.sec_1_link_and_button a{
    text-decoration: none;
    color: black;
}
#svg_dyl_link{
    color: rgb(207, 19, 19);
}
.svg_a{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;

}
.link_watch_vedio :hover{
    color: rgb(207, 19, 19);
}

.right{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img {
    display: flex;
}
.right img {
  animation: name-of-animation 5s ease-in-out infinite;
}
@keyframes name-of-animation {
  0% { transform: rotate(0px); }
  50% { transform: translateY(30px); }
  100% { transform: translateY(0px); }
}

.element {
  animation: animationName 4s ease-in-out;
}

/* sec_1 */

/* sec_2 */

.About_Us {
    /* background-color: blueviolet; */
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About_Us p {
    color: rgb(94, 93, 93);
}
.About_Us h1 {
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
}
.About_Us span {
    color: rgb(207, 19, 19);
    font-family: 'Amatic SC', cursive;
}
.part_2{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    height: 750px;
}
.part_2 .pr_1{
    /* background-color: cadetblue; */
    width: 60%;
    height: 100%;
}
.pr_1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.pr_1 img {
    width: 100%;
    height: 560px;
}
.sec_2_border_and_number{
    border: solid 5px gray;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 140px;
}
.sec_2_border_and_number h1{
    font-size: 25px;
}
.sec_2_border_and_number p {
    font-size: 30px;
    color:rgb(207, 19, 19);
}
/* pr_2 */
.pr_2 {
    /* background-color: antiquewhite; */
    width: 41%; display: flex;
    justify-content: center;
}
.tmanin_flmya {
    width: 80%;
}
.tmanin_flmya .grey_para {
    font-size: 15px;
    color: gray;
}
.svg_and_para{
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
}
.para_svg p{
    font-weight: bold;
}
.para_svg_part_2{
    font-weight: bold;
}
.sec_2_img{
    width: 100%;
    height: 280px;
    background-color: aqua;
    position: relative;
}
.sec_2_img img{
    width: 100%;
    height: 100%;
}
.botona{
    position: absolute;
    top: 42%;
    left: 42%;
}
.botona button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(207, 19, 19);
    border: 0;

}
button svg {
    font-size: 100px;
}
/* sec_2 */

/* sec_3 */
.sec_3{
    background-color: rgb(242, 242, 242);
    width: 100%;
    height:400px;
    display: flex;
    align-items: center;
}
.box_red{
    background-color: rgb(207, 19, 19);
    width: 450px;
    height:95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec_3 .container{
    justify-content: start;
    /* background-color: aqua; */
    width: 100%;
    height: 360px;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.sec_3 h1{
    font-weight: bold;
}
.sec_3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(214, 54, 54);
    padding: 8px;
    padding-inline: 20px;
    border-radius: 20px;
    width: max-content;
    text-decoration: none;
    color: white;
}
.wwww{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_box_white{
    background-color: rgb(255, 255, 255);
   width: 250px;
    height:95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: gray;
}
.second_box_white {
    background-color: rgb(255, 255, 255);
   width: 250px;
    height:95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: gray;
}
.first_box_white h1{
    font-size: 19px;
    color: black;
}
.second_box_white h1{
    font-size: 19px;
    color: black;
}
.third_box_white h1{
    font-size: 19px;
    color: black;
}
.third_box_white{
    background-color: rgb(255, 255, 255);
   width: 250px;
    height:95%;
    padding: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: gray;
}
.div_svg_2{
    display: flex;
}
.div_svg_2{
    background-color: rgb(252, 242, 242);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(207, 19, 19);
    border-radius: 50%;
}

.div_svg_2 :hover{
    background-color: rgb(207, 19, 19);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: white;
}
.idiv_maaag {
    width: 100%;
    height: 350px;
    background-color: aquamarine;
     position: relative;
}
.idiv_maaag img{
    width: 100%;
    height: 100%;
     filter: brightness(50%);
     position: relative;
}
.ar9am{
 position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: row;
    gap: 220px;
    justify-content: center;
    z-index: 9999999999999999;
    color: white;
    font-size: 19px;
    font-weight: bolder;
}
.ar9am p {
   
    font-size: 16px;
    font-weight: 700;
    color: floralwhite;
}
.ar9am h1{
        font-size: 48px;
    display: block;
    font-weight: 700;
}
/* sec_4 */
.Our_Menu{
    /* background-color: aqua; */
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-a;
    flex-direction: column;
}
.Our_Menu h1{
    font-family: 'Amatic SC', cursive;
    font-size: 56px;
}
.Our_Menu span{
    color: rgb(207, 19, 19);
}
.Our_Menu p {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}
.link_sec_4 a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid;
}
.link_sec_4 :hover{
    border-bottom: solid 2px red;
}
.link_sec_4{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 22px;
}
.sec_4 .container {
    display: flex;
    flex-direction: column;
}
.Menu_Dinner{
    /* background-color: red; */
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Menu_Dinner h1{
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    color: rgb(207, 19, 19);
    font-weight: 700;
}
.Menu_links{
    /* background-color: blueviolet; */
    width: 100%;
    height: 900px;
}
.pt1_Menu_links p{
    color: gray;
}
.pt1_Menu_links span{
    color: rgb(207, 19, 19);
    font-size: 24px;
    font-weight: 700;
}

.pt2_Menu_links p{
    color: gray;
}
.pt2_Menu_links span{
    color: rgb(207, 19, 19);
    font-size: 24px;
    font-weight: 700;
}

.pt1_Menu_links{
    /* background-color: aqua; */
    width: 100%;
    height: 50%;
    display: flex;
}
.pt1_Menu_links div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pt2_Menu_links div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pt1_Menu_links h1{
    font-size: 24px;
}
.pt2_Menu_links h1{
    font-size: 24px;
}
.img_1{
    width: 34%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.img_2{
     width: 33%;
    height: 100%;
    /* background-color: rgb(58, 237, 52); */
    display: flex;
    justify-content: center;
}
.img_3{
     width: 34%;
    height: 100%;
    /* background-color: rgb(161, 192, 160); */
    display: flex;
    justify-content: center;
}
.img_4{
      width: 34%;
    height: 100%;
    /* background-color: rgb(104, 38, 184); */
    display: flex;
    justify-content: center;
}
.img_5{
      width: 34%;
    height: 100%;
    /* background-color: rgb(230, 167, 43); */
    display: flex;
    justify-content: center;
}
.img_6{
      width: 34%;
    height: 100%;
    /* background-color: rgb(11, 154, 183); */
    display: flex;
    justify-content: center;
}
.img_1 img{
    width: 70%;
    height: max-content;
}
.img_2 img{
    width: 70%;
    height: max-content;
}
.img_3 img{
    width: 70%;
    height: max-content;
}
.img_4 img{
    width: 70%;
    height: max-content;
}
.img_5 img{
    width: 70%;
    height: max-content;
}
.img_6 img{
    width: 70%;
    height: max-content;
}
.pt2_Menu_links{
     /* background-color: aqua; */
    width: 100%;
    height: 50%;
    display: flex;
}
/* sec_5 */
.sec_5{
    width: 100%;
    height: 700px;
    background-color: rgb(242, 242, 242);
}
.sec_5_TESTIMONIALS{
    /* background-color: aqua; */
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sec_5_TESTIMONIALS h1{
      font-family: 'Amatic SC', cursive;
    font-size: 56px;
}
.sec_5_TESTIMONIALS span{
  color: rgb(207, 19, 19);
}
.carousel{
    width: 100%;
    height: 500px;
}
.carousel_pt1{
     width: 100%;
    height: 500px;
}

.sec_5 .container{
    display: flex;
    flex-direction: column;
}

/* carosil */



.carousel_pt1{
    /* background-color: bisque; */
    width: 70%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}
.carousel_pt3{
     width: 70%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}
.carousel_pt3 {
    /* background-color: bisque; */
    width: 70%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}

.ldakhl_carosil {
    /* background-color: aqua; */
    width: 80%;
    height:max-content;
    border-left: red solid;
    padding-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ldakhl_carosil3  {
    /* background-color: aqua; */
    width: 80%;
    height:max-content;
    border-left: red solid;
    padding-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.ldakhl_carosil5{
   width: 80%;
    height:max-content;
    border-left: red solid;
    padding-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ldakhl_carosil3 .kk {
    color: rgb(224, 130, 130);
    font-size: 24px;
}
.carousel_pt5{
      width: 70%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}
.carousel_pt7{
      width: 70%;
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}
.ldakhl_carosil7{
       width: 80%;
    height:max-content;
    border-left: red solid;
    padding-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}




/*  */
.ldakhl_carosil .kk {
    color: rgb(224, 130, 130);
    font-size: 24px;
}
.carousel h1{
        font-family: 'Amatic SC', cursive;
}
.carousel span{
        font-family: 'Amatic SC', cursive;
}
#njom{
    color: rgb(255, 193, 8);
}
/*  */
.carousel .carousel_pt2 img{
    width:100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.carousel .carousel_pt2 {
     display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .carousel_pt4 img{
    width:100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.carousel .carousel_pt4 {
     display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .carousel_pt6 img{
    width:100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.carousel .carousel_pt6 {
     display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .carousel_pt8 img{
    width:100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.carousel .carousel_pt8 {
     display: flex;
    align-items: center;
    justify-content: center;
}
/*  */

.aaa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: chocolate;
}
.bb{
      width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
}

.cc{
      width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: floralwhite;
}
.dd{
      width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: aqua;
}
.sec_6{
    background-color: blanchedalmond;
    width: 100%;
    height: 400px;
}
/* boton */

.botonat{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}